http://34.158.58.187 {
    root * /home/zhoushuoji/.openclaw/workspace/personal-homepage
    file_server

    encode zstd gzip

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
        Referrer-Policy strict-origin-when-cross-origin
    }
}
